body,
html {
  margin: 0;
  overflow-x: hidden;
  font-family: "Lato";
}

li {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 0.25rem; /* Remove bottom margin */
}

ul {
  margin-top: 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 85%;
  background-color: white;
  z-index: 1000;
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1001;
  width: 55px;
  height: 52px;
  border: none;
  background-color: white;
}

.showcase {
  width: 430px;
  height: 373px;
  cursor: pointer;
}

.showcase-title {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.showcase-words {
  color: #6b6b6b;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.showcase-button {
  border-radius: 50px;
  border: 1px solid #000;
  padding: 10px 20px;
  color: #000;
  text-align: right;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title {
  color: #000;
  font-family: "Lato";
  font-size: 6vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#welcome-title {
  color: #000;
  font-family: "Arial";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#intro-text {
  color: #000;
  font-family: Laila;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#my-works {
  font-size: 40px;
  font-family: "Arial";
}

#showcase-left {
  background-color: #e4e1ba;
}
#showcase-left-button {
  background: #e4e3b7;
  border-color: #e4e3b7;
}
#showcase-middle {
  background-color: #ede7ff;
}
#showcase-middle-button {
  background: #ede7ff;
  border-color: #ede7ff;
}
#showcase-right {
  background-color: #f5f8ff;
}
#showcase-right-button {
  background: #f5f8ff;
  border-color: #f5f8ff;
}

.left-phone-gif {
  border-radius: 15px;
  position: relative;
  width: 104px;
  height: 243px;
  border: 5px solid #000;
  background: url(plantGif.gif) lightgray 50% / cover no-repeat;
}

#computer-screen {
  width: 299px;
  height: 197px;
  position: cover;
}

#right-phone-image {
  width: 116px;
  height: 251px;
  object-fit: cover;
}

#left-phone-text-showcase {
  border-radius: 64px;
  background: #f6d388;
  color: #000;
  font-family: "Lato";
  font-size: 0.6rem;

  font-weight: 400;

  width: 120%;
  height: 20%;
  text-align: center;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transform: translate(-5rem, 13rem);
  padding-left: 1em;
  padding-right: 1em;
}

.left-phone-text {
  position: absolute;
  border-radius: 64px;
  background: #f6d388;
  color: #000;
  font-family: "Lato";
  font-size: 3vh;
  font-weight: 400;
  width: 8em;
  height: 4em;
  text-align: center;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
  padding-left: 1em;
  padding-right: 1em;
  bottom: -3em; /* Position it at the bottom */
  left: -5em; /* Position it at the left */
}

#myWorksText {
  color: #000;
  font-family: "Laila";
  font-size: 4vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#project1Top {
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  position: relative;
}

#topWords {
  display: flex;
  justify-content: space-between; /* Space out the text elements */
  align-items: center; /* Center the text vertically */
  margin-left: 5%;
  margin-right: 5%;
  flex: auto;
  /* background-color: #6fb7ff;
  border-style: dashed; */
}

#project1TopContent {
  /* border-style: dashed;  - for testing*/
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image text";
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 14em;
  align-items: center;
}

.left-image {
  grid-area: image;
  height: 65vh;
  width: 27vh;
  border-radius: 30px;
  border: 0.6em solid #000;
  background: url(plantGif.gif) lightgray 50% / cover no-repeat;
  position: relative;
}

.right-text {
  grid-area: text;
  color: #000;
  font-family: "Lato";
  line-height: normal;
  margin-left: 15%;
}

#project1TopPlant {
  background: url(plantHi.gif) 50% / cover no-repeat;
  width: 22vw;
  height: 22.5vw;
  transform: rotate(-0.226deg);
  align-self: flex-end;
  margin-right: 10em;
  margin-top: -8em;
  margin-bottom: 0;
  flex-shrink: 1;
}

#project1Title {
  font-size: 2.8vw;
  font-weight: 700;
  margin-bottom: 5%;
}
.project1Description {
  font-size: 2vw;
  font-weight: 400;
  margin-top: 0px;
  flex: auto;
}

/* first projext css */
#project1MiddleSectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 19rem;
  padding-right: 13rem;
  background: #ffffff;
  margin-bottom: 4rem;
}
.project1Heading {
  color: #000;
  font-size: 2.25vw;
  font-weight: 700;
  flex-shrink: 1;
}

#personDataImage {
  align-self: center;
  margin-block: 2rem;
  width: 55vw;
  flex: auto;
}

.listTitle {
  color: #000;
  font-size: 2.25vw;
  font-weight: 700;
  flex-shrink: 1;
  margin-bottom: 1.25rem;
  padding-bottom: 0;
}

#project1MiddleSectionImage {
  width: 50vw;
  align-self: center;
  flex: auto;
}

#project1GameSectionVisials {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  flex: auto;
}
#projext1GameSectionVisialphone {
  width: 15vw;
  position: relative;
  box-shadow: #000;
}
#projext1GameSectionVisialphoneGif {
  width: 7vw;
  position: absolute;
  transform: translate(4rem, -0.5rem);
}
.project1GameSectionVisialsText {
  text-align: center;
  font-size: 3vh;
  font-weight: 700;
}

.projext1GameSectionVisialImg {
  width: 11vw;
}

#project1GameSectionVisials2 {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  flex: auto;
  width: 100%;
  gap: 4rem;
}

.projext1GameSectionVisials2Img {
  width: 13.8125rem;
  height: 29.0625rem;
  border-radius: 0.9375rem;
  border: 5px solid #000;
}

#project1BulletPoints {
  margin-top: 8rem;
  padding-left: 4rem;
  flex: auto;
  text-indent: -1.5rem;
}

/* second to last sections */
#project1secondToLastDiagram {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr; /* 3 columns, all atleast 300px wide */
  grid-auto-rows: 1fr 1fr 1fr;
  /* rows are atleast 100 tall up to auto tall */
  grid-template-areas:
    "topT topT topp"
    "midP midT midT"
    "botPics botPics botPics";

  align-items: center;
  margin-left: -3rem; /*since tis section sticks out a bit*/
}
.project1secondToLastDiagramImg {
  /*any images will fill the entire container, without cropping it.*/
  width: 22rem;
  object-fit: cover;
  object-position: center;
}
#project1secondToLastDiagramTopText {
  grid-area: topT; /* remmeber not to use top since its a keyword and messes everything up*/
  /* align-self: center; */
  justify-self: end;
}
#project1secondToLastDiagramTopText p {
  padding-right: 4rem;
}
#project1secondToLastDiagramTopPic {
  grid-area: topp; /* remmeber not to use top since its a keyword and messes everything up*/
  /* justify-self: end; */
  justify-self: center;
}

#project1secondToLastDiagramMidPic {
  grid-area: midP;
}
#project1secondToLastDiagramMidText {
  grid-area: midT;
  /* align-self: center; */
}
#project1secondToLastDiagramBot {
  grid-area: botPics;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.project1secondToLastDiagramBotFlexItem {
  width: 20rem;
  object-fit: contain;
}

.lineUnderP {
  border-bottom-style: solid;
  padding-bottom: 2rem;
  font-size: 1.875rem;
  width: fit-content;
}

/*-------------------- second to last section------------------------- */
#project1BottomSectionFlex {
  background: #e0dedb;
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

#project1BottomSectionGrid1 {
  display: grid;
  grid-template-columns: 13rem 13rem; /* 3 columns, all atleast 300px wide */
  grid-auto-rows: auto;
  /* rows are atleast 100 tall up to auto tall */
  grid-template-areas:
    "topL topLm"
    "botL botLm";
  justify-items: center;
  align-items: center;
  object-fit: contain;
  row-gap: 3rem;
  column-gap: 4.5rem;
}
#project1BottomSectionGrid2 {
  display: grid;
  grid-template-columns: 13rem 13rem; /* 3 columns, all atleast 300px wide */
  grid-auto-rows: auto;
  /* rows are atleast 100 tall up to auto tall */
  grid-template-areas:
    "topRm topR"
    "botRm botR";
  justify-items: center;
  align-items: center;
  object-fit: contain;
  row-gap: 3rem;
  column-gap: 4.5rem;
}
.project1LastDiagramGridItem {
  width: 13rem;
  height: 30rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#project1BottomSectionFrontImage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 15.0625rem;
  height: 35.125rem;
  border-radius: 0.9375rem;
  border: 0.3rem solid #000;
}

#project1LastSection {
  background: #ffffff;
  padding-top: 3rem;
  margin-left: 15rem;
  padding-right: 5rem;
  padding-bottom: 8rem;
}
