body {
  margin: 0;
  line-height: normal;
}

#title {
  color: #000;
  font-family: "Yeseva One";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#welcome-title {
  color: #000;
  font-family: "Yeseva One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#intro-text {
  color: #000;
  font-family: Laila;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#my-works {
  font-size: 40px;
  font-family: "Yeseva One";
}

#showcase-left {
  background-color: #e4e1ba;
  width: 430px;
  height: 373px;
}
#showcase-middle {
  background-color: #ede7ff;
  width: 430px;
  height: 373px;
}
#showcase-right {
  background-color: #f5f8ff;
  width: 430px;
  height: 373px;
}

#left-phone-gif {
  border-radius: 15px;
  width: 104px;
  height: 243px;
  border: 5px solid #000;
  background: url(plantGif.gif) lightgray 50% / cover no-repeat;
}

#computer-screen {
  width: 299px;
  height: 197px;
  position: absolute;
}

#right-phone-image {
  width: 116px;
  height: 251px;
  object-fit: cover;
}
